* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-size: 14px;
  text-transform: uppercase;
  background-color:  #EAE0C8;
  color:  #594f38;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 152%;
  /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
.caption {
  color :#6b5f44;
  text-transform: lowercase;
  font-family: Allura;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}
h2 {
  /* Header 2 */
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 152%;
  /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
header {
  width: 100%;
}
nav {
  padding: 40px 60px;
  display: flex;
  justify-content: flex-end;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
ul li {
  list-style: none;
  cursor: pointer;
}
div {
  text-align: center;
}
section {
  padding: 50px;
}

.car {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.cars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.cars-gallery {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 40px;
}
.cars-gallery img {
  border-radius: 30px;
  width: 200px;
  height: 300px;
}
button {
  border-radius: 50px;
  transition: 0.8s;
  background-color: #c5b99c!important;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
button i {
  padding: 20px;
border-radius: 50px;
}

button:hover {
  color: #c5b99c;
  background-color:#594f38 !important;
}
 button:hover i {
  color: #c5b99c !important;
}
 button {
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


footer {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
